description = "Default layout"
==
<!DOCTYPE html>
<html lang="en" class="no-js">
{% partial 'site/top' %}
<html>
    <body>
        <!-- Header -->
        <header id="layout-header">
            {% partial 'frame/header' %}
        </header>

        <!-- Content -->
        <section id="layout-content">
            {% page %}
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'frame/footer' %}
        </footer>

        {% partial 'site/bottom' %}
    </body>
</html>
