<!-- cdn assets -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.2/umd/popper.min.js" integrity="sha256-XahKYIZhnEztrOcCTmaEErjYDLoLqBoDJbVMYybyjH8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha256-OFRAJNoaD8L3Br5lglV7VyLRf0itmoBzWUoM+Sji4/8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>

{% framework extras %}


<!-- internals -->
{# build output #}
<script src="{{ 'resources/common.js'|theme }}"></script>

{# modernizr #}
{# TODO: update `Modernizr.feature` to check for your 'key' feature that triggers loading legacy support js #}
<script src="{{ 'resources/modernizr-bundle.js'|theme }}"></script>
<script>
    if(!Modernizr.cssgrid){
        var link = document.createElement('link')
        link.rel = 'stylesheet'
        link.type = 'text/css'
        link.href = "{{ 'resources/polyfills.css'|theme }}"
        document.head.appendChild(link)

        var script = document.createElement('script')
        script.src = "{{ 'resources/polyfills.js'|theme }}"
        document.head.appendChild(script)
    }
</script>

{# user-accessible #}
<script src="{{'assets/javascript/app.js'|theme}}"></script>

{# october: put scripts #}
{% scripts %}
